aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]==0.28.1
lyricsgenius
motor
psutil
pytube
lyricsgenius
motor
pillow
psutil
asBASE
googletrans
ntgcalls==2.0.4
py-tgcalls==2.2.3
kurigram==2.2.6
pyyaml==6.0.2
pykeyboard
telegraph==1.4.1
python-dotenv
pyromod~=1.5
telethon
requests
speedtest-cli
spotipy
numpy
schedule
pydub
playsound
tgcrypto
playsound
pydub
schedule
unidecode
yt-dlp
gpytranslate
youtube-search
youtube-search-python
SpeechRecognition
pytz
pySmartDL
wget
youtube-search-python